/*Estilos Login*/
.login_box h1, .login_box h2{
    font-family: Arial, Helvetica, sans-serif;
}

.login_box{
    box-shadow: 0 8px 15px rgba(0.2, 0.5, 0.6, 0.8);
    background-color: rgba(30, 30, 30, 0.8);
}

.login_body{
    background-image: linear-gradient(45deg, rgb(137, 185, 240), rgba(93, 168, 234, 0.9), rgb(67, 147, 238));
    background-attachment: fixed;
}

.password{
    border: none;
    outline: none;
}

.email{
    border: none;
    outline: none;
}




/* Estilos pagina Tabela OnDisc */
.painel_ondisc{
    background-image: linear-gradient(45deg,rgb(74, 220, 246),rgb(76, 230, 249));
}

#table_product {
}

/*Pagina Upload*/
#uploadBtn{
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#uploadBtn:hover{
    background-color: #218838;
}

.body_upload{
    background-image: linear-gradient(45deg,rgb(74, 220, 246),rgb(76, 230, 249));
}

.upload_box {
    border: 2px solid black;
}


.dashboard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_dashboard {
    background-color: #73b4ff;
    padding: 10px 2%;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 8px;
}

.logo h3 {
    cursor: pointer;
}

.logo h3:hover {
    opacity: 0.7;
}

.icons-header {
    margin-top: 8px;
}

.icons-header svg {
    cursor: pointer;
}

.icons-header svg:hover {
    opacity: 0.7;
}

.info-header {
    color: white;
    display: flex;
}

.info-header img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left:0 8px;
}

.info-header .btn {
    background-color: rgb(205, 55, 85); /* Altere para a cor desejada */
    color: #fff;
    border: none;
}

.info-header svg {
    margin: 0 10px;
}

.icons-header {
    margin-left: 10px; 
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 20%;
    background-color: #fff;
    height: 100%;
}

.sidebar a.sidebar-active{
    border-left: 4px solid #73b4ff;
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a.sidebar-active > svg{
    color: #777;
}

.sidebar h3{
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a{
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a:hover{
border-left: 4px solid #73b4ff;
background-color: rgba(245, 245, 245);
color: #777;
font-weight: bold;
}

.sidebar a:hover .sidebar a > svg {
    color: #777;
}
.sidebar a > svg{
    color: #444;
}

.content{
    width: 76.8%;
    background-color: rgb(245, 245, 245);
    padding:20px;
}

.titulo-secao{
    border: 1px solid black;
    box-shadow: 0 8px 15px rgba(0.1, 0.2, 0.4, 0.6);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.titulo-secao h2{
    font-size: 19px;
}

html, body.dashboard{
    height: 100%;
}

.titulo-secao p{
    font-size: 14px;
}

.titulo-secao svg{
    color: #73b4ff;
}

.separator{
    width: 100%;
    height: 1px;
    /* border-color: rgb(240, 240, 240) !important; */
    background-color: rgb(230, 230, 230) !important;
    /* color: rgb(240,240,240); */
}

.box-info{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-single_1{
    background:linear-gradient(45deg, #2ed8b6, #59e0c5);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
}

.box-info-single_2{
    background:linear-gradient(45deg, #4099ff, #73b4ff);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
} 

.box-info-single_3{
    background:linear-gradient(45deg, #FF5370, #ff869a);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
}

.box-info-single svg {
    font-size: 28px;
}

.feed {
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    width: 95%;
    padding: 30px;
}

.feed-single {
    display: flex;
    justify-content: space-between;
}

.feed-text {
    display: flex;
}

.feed-text span{
    color: black;
    display: inline-block;
    margin: 8px;
}

.feed-text .circle-icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #c3dfff;
    position: relative;
}

.feed-text svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #73b4ff;
}

.feed-time{
    color: #444;
} 